.main_sec{
    width: 80%;
    margin: auto;
    /* background-color: rgb(31, 121, 200); */
    padding: 20px 0;
}
@media screen and (max-width: 768px) {
    .main_sec{
        width: 95% !important;
        margin: 10px !important;
         padding: 20px 0 !important;
    }
    
}
.main_head{
     display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
   color: white;


}
.main_head>h1{
    width: 80%;
    color: #0029FF;
    font-size: 28px;
    text-align: left;
}
.main_head>.mainhead_btn {
    width: 20%;
    display: flex;          /* Use Flexbox */
    justify-content: right; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center;      /* Ensure text is centered */
  }
  

.mainhead_btn>button{
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color: #0029FF;
border: 0px; 
Width: 121px;
Height:36px;
border-radius: 10px;
}

.main_des{
    width: 100%;
    background-color: #E9ECEF;
 max-width: 100%;
height: fit-content;
text-align: left;
padding: 10px 0px;
border-radius: 10px;
}
.main_des>h1{
    padding: 0 20px;
    font-size: 20px;
    font-weight: 700;

}
.main_des>p{
    padding: 0 20px;
    font-size: 15px;

}